*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


body {
    background: -webkit-gradient(linear, left top, left bottom, from(#8EC5FC), to(#E0C3FC)) fixed;
    font-family: 'Trispace', sans-serif;
  }

.container{
    background-color: transparent;
    border: 4px solid #fff;
    position: absolute;
    top: 20%;
    left: 35%;
    margin: auto;
    height:300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#color{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 20px;
}

#result{
    width: 200px;
    height: 50px;
    border: 4px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copy{
    margin: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

input{
    width: 200px;
    height: 50px;
}

#button{
    height: 40px;
    width: 200px;
    background-color: transparent;
    border: 4px solid white;
    color: white;
}

#button:hover{
    background-color: white;
    color: black;
}

#copy:hover{
    color: rgb(255, 204, 0);
}

#tittle{
    color: #fff;
    font-size: 2.2rem;
    margin: 10px;
}
